@use '../../../scss/variables';

a {
   text-decoration: none;
}

nav {
   min-height: map-get(variables.$nav-height, "short");
   transition: min-height 0.2s ease-in-out;

   @media (min-width: map-get(variables.$layout, "lg")) {
      min-height: map-get(variables.$nav-height, "long");

      &.reduce-height {
         min-height: map-get(variables.$nav-height, "short");
      }
   }
}

.nav-menu {
   @media (max-width: map-get(variables.$layout, "lg")) {
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      padding: 1rem 2rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: opacity .2s linear;
   }
}

.hide-nav-menu {
   @media (max-width: map-get(variables.$layout, "lg")) {
      opacity: 0;
      transition-property: translate;
      transform: translateY(-100%);
   }
}

.landing-name {
   letter-spacing: -1px;
   user-select: none;
   background: -webkit-linear-gradient(left, darken(#14b8a6, 20%), green);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.pi-bars,
.pi-times {
   transition: scale .2s linear;
   z-index: 1000;
}

.hide-icon {
   scale: 0;
   z-index: 1;
}

#bars {
   background-color: blue;
}

#cross {
   background-color: red;
}
