:host {
   display: block;
   padding-bottom: 5rem;
}

.flex-wrap {
   row-gap: 1rem;
   column-gap: 1rem;
}

.btn-select ::ng-deep .p-button {
   border-radius: 100px;
}

.btn-select ::ng-deep .p-button-label {
   font-weight: 500 !important;
   letter-spacing: 1px;
}
